.events-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh; 
    background-color: #f7f7f9;
}

.events-title {
    text-align: center;
    color: #2C3E50;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

.events-content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-card {
    width: 300px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    background-color: white;
}
.filter-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-section label {
    margin-right: 20px;
    font-size: 1rem;
}

.filter-section select {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}