.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 60px);    /* 20px de marge de chaque côté */
  margin: 0 auto;              /* Centre le container horizontalement */
  padding: 10px 20px;
  border-radius: 10px;         /* Bords arrondis */
  background-color: #A8E0E0;
  color: #333333;
  height: 100px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-height: 150px;
  width: auto;
  border-radius: 50%;
  display: flex;
  margin-bottom: 10px;
}

.site-title {
  margin-left: 40px;
}
